<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.ababup1192.LogDepartmentStoreLayout" />
        </encoder>
    </appender>

    <logger name="org.ababup1192.WebServerHttpApp$" level="TRACE"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>